<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>
      <%= htmlWebpackPlugin.options.title || 'Web App'%>
    </title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <link rel="icon" type="image/png" href="./static/favicon.png">
    <!-- Facebook -->
    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.title || 'Web App'%>"
    />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>"/>
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      property="og:image"
      content="<%= require('./static/mountains-v0.1.png') %>"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '<%= htmlWebpackPlugin.options.facebookPixel %>');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=<%= htmlWebpackPlugin.options.facebookPixel %>&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
  </head>
  <body>
  	<div
      id="<%= htmlWebpackPlugin.options.containerId %>"
      class="app-container"
    >
  	</div>
  </body>
</html>
